h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


p {
  font-family: "Clarkson",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0;
  text-rendering: geometricPrecision;
  text-transform: none;
  text-decoration: none;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Clarkson",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0;
  text-rendering: geometricPrecision;
  text-transform: none;
  text-decoration: none;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-size: 3.4em;
}

/* Greeting Section */
.greeting {
  font-size: 3.8em;
}

.intro {
  background-color: #8EA4A6;
  color: #FFFFFF;
  display: flex;
  /* establish flex container */
  flex-direction: column;
  /* make main-axis vertical */
  justify-content: left;
  /* align items vertically, in this case */
  padding: 5%;
}


.myNav {
  color: #f0eddc;
  bs-nav-link-color:#f0eddc;
  align-items: left;
}

.Nav.NavItem.NavLink {
  color: #ffffff;
}

.nav{
  /* nav text color */
--bs-nav-link-color: #ffffff;
/* nav text color when hover */
--bs-nav-link-hover-color: #ffffff;
}

.intro-img {
  align-items: right;
  justify-content: right;
  float: right;
  display: flex;
}


/* Education Section */

.education {
  background-color: #ffffff ;
  color: #000000;
  /* margin-top: 5%; */
  display: flex;
  /* establish flex container */
  flex-direction: column;
  /* make main-axis vertical */
  justify-content: left;
  /* align items vertically, in this case */
  align-items: left;
  /* align items horizontally, in this case */
  /* height: 500px; */
  padding: 5%;
}

.education-point{
  justify-content: left;
  /* align items vertically, in this case */
  align-items: left;
}

/* Key Projects Section */

.keyProjects {
  background-color:  #6B6464;
  color: #ffffff;
  /* margin-top: 5%; */
  display: flex;
  /* establish flex container */
  flex-direction: column;
  /* make main-axis vertical */
  justify-content: center;
  /* align items vertically, in this case */
  align-items: center;
  /* align items horizontally, in this case */
  /* height: 500px; */
  padding: 5%;
}


